#footer
  .row
    .col.s12.l5
      img#logo-footer(src='/img/logo-footer.png')
      .row
        .col.s6
          a(href='#').social
            img(src='/img/facebook.png')
        .col.s6
          a(href='#').social
            img(src='/img/instagram.png')
    .col.s12.m6.l3
      h3 Nosotros
      ul
        li
          a(href='#') Concreto premezclado
        li
          a(href='#') Venta de materiales
        li
          a(href='#') Renta de maquinaria
        li
          a(href='#') Nosotros
        li
          a(href='#') Quiero ser proveedor
    .col.s12.m6.l3
      h3 Contacto
      ul.white-text
        li
          p
            i.material-icons(style="padding-right: 8px") place
            | Calle Espíritu Santo No. 112 Col. Carretas, Querétaro, Qro.
        li
          p
            img(src="/img/whatsapp.png", style="height:20px; padding-right: 13px")
            | (442) 392 8911
        li
          p
            i.material-icons(style="padding-right: 10px") phone
            | (442) 253 4254
        li
          | ¿Cuánto concreto necesito?
    .col.l1.hide-on-med-and-down
      a(href="#")
        img.go-top.up(src='/img/up.png')
        
  .row(style="margin:0")
    .col.s12.l6#map-col
      img#map(src='/img/map.png')
    .col.s12.l6.hide-on-med-and-down
