nav
  a.brand-logo(href='#!')
    img(src='/img/logo.png')
  a.button-collapse.right(href='#', data-activates='mobile-demo')
    i.material-icons menu
    .upper-nav
  .nav-wrapper
    .row.hide-on-med-and-down
      .col-s12.custom-col
        ul.right#first-row
          li
            a(href='#') Mi Compra
              img(src='/img/cart.png')
          li
            a(href='#') Faq
              img(src='/img/faq.png')
          li
            a(href='#') Iniciar Sesión
              img(src='/img/login.png')
      .col-s12.custom-col
        ul.right#second-row
          li
            a(href='#') Concreto premezclado
          li
            a(href='#') Venta de materiales
          li
            a(href='#') Renta de maquinaria
          li
            a(href='#') Nosotros
          li
            a(href='#') Quiero ser proveedor
          
        
    ul#mobile-demo.side-nav
      li
        a(href='#') Mi Compra
          img(src='/img/cart.png')
      li
        a(href='#') Faq
          img(src='/img/faq.png')
      li
        a(href='#') Concreto premezclado
      li
        a(href='#') Venta de materiales
      li
        a(href='#') Renta de maquinaria
      li
        a(href='#') Nosotros
      li
        a(href='#') Soy una concretera
      li
        a(href='#') Iniciar Sesión
          img(src='/img/login.png')
    img#mejorprecio(src='/img/mejorprecio.png')
